.headerImages{
    min-height: 60vh;
    width: 100%;
    background: url("../../Images/menugirleating.jpg") center / cover no-repeat;
   

}

div{
    border: solid 1px black;
}



/* Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
    /* img.windowImage{
        max-height: 80px !important;
        max-width: 80px;
        margin: 1em 0;
    } */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

