.container{
    margin-top: 10vh;
    text-align: center;
}

.text{
    margin: 10vh;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color:  #fff;
    padding: 2rem 1rem;
    text-transform: capitalize;
    letter-spacing: 3px;
  }

  .text h1{
    font-size: 2.5rem;   
  }


