/* Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
  .headerContainer{
    text-align: center;
  }

  .text{
    margin: 10vh;
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);
    color:  #fff;
    padding: 2rem 1rem;
    text-transform: capitalize;
    letter-spacing: 3px;
  }

  .headerImageText h1{
    font-size: 2.5rem; 
    font-family: 'Rajdhani', sans-serif;  
  }
    
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
