@import url('https://fonts.googleapis.com/css?family=Rajdhani:300|Source+Sans+Pro:300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Tangerine&display=swap");
/* Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        line-height: 1.4;
    }

    a{
        text-decoration: none;
    }

    a:hover{
        color: #E87421;
        text-decoration: none;
    }

    button {
        text-decoration: none;
        letter-spacing: 3px;
        color: #222;
        background: #af9a7d;
        padding: 0.8em 1.2em;
        border: 3px solid #af9a7d;
        transition: all 0.3s linear;
        text-transform: uppercase;
        cursor: pointer;
    }

    .adminButton, .bookingButton{
        float: right;
    }

    button:hover {
        background: transparent;
        color: #af9a7d;
    }

    .pageHeaderContainer{
        display: flex;
        justify-content: center;
    }

    .pageHeading{
        font-family: 'Rajdhani', sans-serif;
    }

    .pageDescription{
        font-family: 'Source Sans Pro', sans-serif;
        max-width: 60%;
        margin: 0 auto;
        border-bottom: 1px solid #A43B0A;
        margin-bottom: 1em;
        padding-bottom: 1em;
        text-align: center;
    }

    .bodyText{
        font-family: 'Source Sans Pro', sans-serif;
    }



    .returnHomeLink{
        font-family: 'Source Sans Pro', sans-serif;
        color: #A43B0A;
        display: inline-block;
        /* text-align: center; */
        /* align-items: center; */
        /* margin: 0 auto; */
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .pageDescription{
        max-width: 50%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .pageDescription{
        max-width: 40%;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .pageDescription{
        max-width: 30%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
